<br>
<br>
<br>
<br>
<div class="register">
  <form class="custom-form" method="post">
    <h1>Register</h1>
    <input
      type="text"
      [(ngModel)]="nombres"
      name="nombres"
      placeholder="Nombres"
      required="required"
    />
    <input
      type="text"
      [(ngModel)]="apellidos"
      name="apellidos"
      placeholder="Apellidos"
      required="required"
    />
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="clave"
      name="clave"
      placeholder="Contraseña"
      required="required"
    />
    <div class="form-check">
      <input class="form-check-input" type="radio" name="generoFemenino" id="generoFemenino">
      <label for="generoFemenino">
        Femenino
      </label>
    </div>
    <div class="form-check">
      <input type="radio" name="generoMasculino" id="generoMasculino" checked>
      <label class="form-check-label" for="generoMasculino">
        Masculino
      </label>
    </div>
    <button type="submit" (click)="registrarAdministrador()">Registrar</button>
  </form>
</div>