<br>
<br>
<br>
<br>
<h2 class="text-center fs-1 fw-b pt-5">Explora los últimos inmuebles disponibles en Hogar Colombia</h2>
<div class="container mt-3"><div class="card text-center">
    <div class="card-header">
      Importante
    </div>
    <div class="card-body">
      <h5 class="card-title">¿Quieres aplicar una solicitud para venta o alquiler de un inmueble?</h5>
      <p class="card-text">Es muy simple. Registrate haciendo clic en el botón de abajo y envía solicitudes sin costo. También puedes <a href="#">ingresar a tu cuenta.</a></p>
      <a href="opciones-registro" class="btn btn-outline-success">Crear cuenta</a>
    </div>
    <div class="card-footer text-muted">
      -Equipo de Hogar Colombia.
    </div>
  </div></div>
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inmueble</h5>
              <p class="card-text">Aquí se describen los detalles importantes del inmueble.</p>
              <a href="#" class="btn btn-outline-success">Ver inmueble</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inmueble</h5>
              <p class="card-text">Aquí se describen los detalles importantes del inmueble.</p>
              <a href="#" class="btn btn-outline-success">Ver inmueble</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inmueble</h5>
              <p class="card-text">Aquí se describen los detalles importantes del inmueble.</p>
              <a href="#" class="btn btn-outline-success">Ver inmueble</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inmueble</h5>
              <p class="card-text">Aquí se describen los detalles importantes del inmueble.</p>
              <a href="#" class="btn btn-outline-success">Ver inmueble</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inmueble</h5>
              <p class="card-text">Aquí se describen los detalles importantes del inmueble.</p>
              <a href="#" class="btn btn-outline-success">Ver inmueble</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inmueble</h5>
              <p class="card-text">Aquí se describen los detalles importantes del inmueble.</p>
              <a href="#" class="btn btn-outline-success">Ver inmueble</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br><br><br>