<div class="container-all" id="move-content">
    <div class="body_page">
        <div class="container-tituloption">
            <p>Vas a ingresar a tu cuenta</p>
            <h1>¿Qué rol tienes asociado?</h1>
        </div>
        <div class="container_cardoption">
            <div class="cardoption">
                <a routerLink="../seguridad/identificacion-cliente" class="optionclass">
                    <div class="iconoption">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="info_description">
                        <h5>Cliente</h5>
                        <p>Explora los Inmuebles y envía y gestiona tus Solicitudes de Alquiler y/o Compra.</p>
                    </div>
                </a>
            </div>
            <div class="cardoption">
                <a routerLink="../seguridad/identificacion-administrador" class="optionclass">
                    <div class="iconoption">
                        <i class="fas fa-user-cog"></i>
                    </div>
                    <div class="info_description">
                        <h5>Administrador</h5>
                        <p>Crea los Tipos de Inmuebles que piensas vender y/o alquilar, añade o selecciona asesores para
                            que se encarguen de ayudarte a la venta y/o alquiler de los Inmuebles y también podra
                            revisar las solicitudes realizadas por el Cliente y gestionar las acciones de los asesores y
                            los Inmuebles y tipos Inmuebles.</p>
                    </div>
                </a>
            </div>
            <div class="cardoption">
                <a routerLink="../seguridad/identificacion-asesor" class="optionclass">
                    <div class="iconoption">
                        <i class="fas fa-user-check"></i>
                    </div>
                    <div class="info_description">
                        <h5>Asesor</h5>
                        <p>Crear, Edita los Inmuebles que piensan vender y/o alquilar con el administrador y acepta y
                            revisa las solicitudes de los clientes con respecto a los Inmuebles, También gestionaras los
                            datos de los Inmuebles.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>