<br>
<br>
<br>
<div class="container mt-5">
    <h2 class="text-center fw-bold fs-2">Sobre Hogar Colombia</h2>
    <span class="fs-3 mb-2">La empresa aliada de las familias colombianas.</span>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A perspiciatis, nemo error recusandae rerum explicabo, quod dolor debitis autem assumenda quo repellendus sequi sunt qui distinctio, aliquam quis! Doloribus, cupiditate!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum sapiente vitae quod accusantium similique tenetur itaque temporibus numquam, molestias labore omnis sed, libero enim possimus dolores ipsam blanditiis magni esse.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat consequatur quidem labore sapiente praesentium, voluptatem dolorum cupiditate est commodi ipsam ullam autem dolores. Atque quam quaerat maxime doloribus unde delectus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aut aliquam dolorum aspernatur cumque totam quibusdam illum labore modi obcaecati repudiandae quos, ipsum delectus molestias animi consequuntur omnis? Autem, cupiditate!</p>
</div>
<br>
<br>
<br>