<!--Portada-->
<div class="container-all" id="move-content">
    <div class="container-cover">
        <div class="container-info-cover">
            <h1>¡Bienvenido A <i>Hogar</i><b class="color1">Co</b><b class="color2">lom</b><b class="color3">bia</b>!</h1>
            <p>¡Tus sueños se haran realidad!</p><br>
            <p>Te ayudaremos a encontrar</p>
            <h1>Tu Inmueble de tus Sueños</h1>
            <div class="container-cover-filtro">
                <form>
                    <select>
                        <option selected>Tipo de Oferta</option>
                        <option value="1">Venta</option>
                        <option value="2">Alquiler</option>
                    </select>
                    <input type="search" placeholder="Ciudad" aria-label="Ciudad">
                    <button type="submit"><i class="fas fa-search"></i> Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <!--Cards de Servicios-->
    <div class="body__page">
        <div class="container-titulo">
            <p>¿COMO PODEMOS AYUDARTE?</p>
            <h1>Nuestros Servicios</h1>
        </div>
        <div class="container_card">
            <div class="card">
                <div class="icon">
                    <img src="../../../assets/busqueda-casa.svg">
                </div>
                <div class="info__description">
                    <h5>Encuentra tu Inmueble Ideal</h5>
                    <p>Ponemos a tu disposición las mejores herramientas para que encontrar un Inmueble sea tan fácil como caminar.</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="../../../assets/venderCasa.svg">
                </div>
                <div class="info__description">
                    <h5>Vende o Alquila Inmuebles</h5>
                    <p>Si eres una Inmobiliaria, puedes ofrecer las propiedades de tu Empresa y llegar a miles de clientes potenciales.</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="../../../assets/busqueda-casa.svg">
                </div>
                <div class="info__description">
                    <h5>Compra o Arrienda Inmuebles</h5>
                    <p>Si eres una persona que quiere buscar Inmuebles, esta en el lugar correcto, aqui podras mirar y buscar diversos Inmuebles deacuerdo a unos Estandares o Características que te haran la busqueda mucho más fácil.</p>
                </div>
            </div>
        </div>
        <!--Mision y Vision-->
        <div class="container-vision-mision">
            <div class="container-mision">
                <h4>Misión</h4>
                <p>Nuestro Objetivo es poder ayudar a las personas a buscar y encontrar ese inmueble que han estado buscando y que cumplan con sus estandares deseados, aparte de eso También queremos ayudar a las Inmobiliarias que estan iniciando y a las Personas que quieren vender y/o alquilar sus inmuebles o las Inmobiliarias que quieren ampliar la venta y/o alquiler de sus inmuebles en este Sitio Web.</p>
            </div>
            <div class="container-vision">
                <h4>Visión</h4>
                <p>Para el 2025 queremos que esta Aplicación Web y nuestra Inmobiliaria <i>Hogar</i><b class="color1">Co</b><b class="color2">lom</b><b class="color3">bia</b> sea reconozida a nivel Nacional e Internacional.</p>
            </div>
        </div>
    </div>