<!--Barra de Navegación/Inicio de Pagina-->
<header>
    <div class="header-content">
        <div class="logo">
            <a routerLink="/"><h1><i>Hogar</i><b class="color1">Co</b><b class="color2">lom</b><b class="color3">bia</b></h1></a>
        </div>
        <div class="menu" id="show-menu">
            <nav>
                <ul>
                    <li class="menu-selected"><a class="text-menu-selected" href="#"> <i class="fas fa-home"></i> Inicio</a></li>
                    <li><a routerLink="listado-inmuebles"> <i class="fas fa-building"></i> Inmuebles</a></li>
                    <li><a routerLink="#"> <i class="fas fa-city"></i> Tipos Inmuebles</a></li>
                    <li><a routerLink="opciones-registro" title="Registrate ahora" class="btn btn1"> <i class="far fa-user"></i>Registrarme</a></li>
                    <li><a routerLink="opciones-ingreso" class="btn btn2" title="Ingresar a mi cuenta"> <i class="fas fa-user"></i>Ingresar</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="icon-menu">
        <i class="fas fa-bars icon"></i>
    </div>
</header>
<script>
    document.getElementById("icon-menu").addEventListener("click", mostrar_menu);

    function mostrar_menu() {
        document.getElementById("move-content").classList.toggle('move-container-all');
        document.getElementById("show-menu").classList.toggle('show-lateral');
    }
</script>