<br>
<br>
<br>
<br>
<div class="login mt-5 pt-5 mb-5 pb-5">
    <form method="post">
        <h2>Ingresar como cliente</h2>
        <div class="row pt-3 pb-3">
            <input 
            type="email" 
            [(ngModel)]="usuario" 
            name="usuario" 
            placeholder="Email" 
            required="required"
            />
        </div>

        <div class="row pt-3 pb-3">
            <input 
            type="password" 
            [(ngModel)]="clave" 
            name="clave" 
            placeholder="Contraseña" 
            required="required"
            />
        </div>

        <button class="btn btn-primary login" type="submit" (click)="loginCliente()">Ingresar</button>
    </form>
</div>